node_modules/
dist/
src/indexmin.html
src/css
.DS_Store
.sass-cache/
src/js/newalt.js
src/js/danielecode1.js
src/js/dc.js
src/js/helpers.js
src/js/boardVars.js
src/js/defaultsprite.js
src/js/movingscripts.js
src/js/script.js
