@import variables

body
  background-color: $bgcolor
  color: $fontbody
  text-align: center

.svg_logo
  margin: 0 auto
  display: block
  // max-width: 6em

#board-place
  // max-width: 64em
  // min-width: 64em

.board-tile
  border: 1px solid $fontbody
  // width: 8em
  // height: 8em
  display: inline-block
