html, body, div, form, fieldset, legend, label {
 margin: 0;
 padding: 0;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

th, td {
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body {
  background-color: white;
  color: #fff;
}

.board {
  background-color: #FFDB7B;
  padding: 2px;
  overflow: hidden;
}

.tile {
  width: 4em;
  height: 4em;
  float: left;
  background-color: #FBF0C2;
  border: 1px solid #FFDB7B;
}

.wall {
  background-color: #766C6A;
}